*{
    padding: 0;
    margin: 0;
}

.container{
    display: grid;
    gap: 15px;
    grid-template-areas: 
        "nav nav nav logo"
        "indl indl indl indl"
        "spg1 spg1 spg1 spg1"
        "spg2 spg2 spg2 spg2"
        "spg3 spg3 spg3 spg3"
        "spg4 spg4 spg4 spg4"
        "spg5 spg5 spg5 spg5"
        "spg6 spg6 spg6 spg6"
        "knap knap knap knap"
        "footer footer footer footer";

    grid-template-rows: 1fr 3fr 3fr 3fr 3fr 3fr 3fr 3fr;
}

.logo{
    grid-area: logo;
    background: pink;
}

.nav{
    grid-area: nav;
    background: rgb(192, 192, 255);
    text-align: center;
}

.indl{
    grid-area: indl;
    background:rgb(206, 206, 206);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.indl > div{
    grid-column: 2/3;
    background: rgb(189, 138, 255);
}

/* Spørgsmål 1 */

.spg1{
    grid-area: spg1;
    background: rgb(205, 255, 205);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.spg1 > div{
    grid-column: 2/3;
    background: chocolate;
}

/* Spørgsmål 2 */

.spg2{
    grid-area: spg2;
    background: rgb(205, 255, 205);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.spg2 > div{
    grid-column: 2/3;
    background: chocolate;
}

/* Spørgsmål 3 */

.spg3{
    grid-area: spg3;
    background: rgb(205, 255, 205);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.spg3 > div{
    grid-column: 2/3;
    background: chocolate;
}

/* Spørgsmål 4 */

.spg4{
    grid-area: spg4;
    background: rgb(205, 255, 205);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.spg4 > div{
    grid-column: 2/3;
    background: chocolate;
}

/* Spørgsmål 5 */

.spg5{
    grid-area: spg5;
    background: rgb(205, 255, 205);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.spg5 > div{
    grid-column: 2/3;
    background: chocolate;
}

/* Spørgsmål 6 */

.spg6{
    grid-area: spg6;
    background: rgb(205, 255, 205);
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}

.spg6 > div{
    grid-column: 2/3;
    background: chocolate;
}

/* Send Knap */
.knap{
    grid-area: knap;
    text-align: center;
}

.knap button{
    color: rgb(0, 0, 0);
    background: cornflowerblue;
    padding: 15px 32px;
    text-align: center;
    font-size: 16px;
    border-radius: 30px;
    border: none;
    transition-duration: 0.4s;
}

.knap button:hover{
    background: cornsilk;
}

footer{
    grid-area: footer;
    background: hotpink;
}


